<form action="/add/blog" method="POST" enctype="multipart/form-data">
  <input type="text" name="btitle" placeholder="Blog Başlığı">
  <input type="text" name="bdescription" placeholder="Blog Açıklaması">
  <textarea name="bhtml" placeholder="Blog İçeriği"></textarea>
  <input type="file" name="file" accept="image/*">
  <input type="submit" value="Gönder">
</form>
<form action="/add/new" method="POST" enctype="multipart/form-data">
  <input type="text" name="ntitle" placeholder="Blog Başlığı">
  <input type="text" name="ndescription" placeholder="Blog Açıklaması">
  <textarea name="nhtml" placeholder="Blog İçeriği"></textarea>
  <input type="file" name="nfile" accept="image/*">
  <input type="submit" value="Gönder">
</form>