{{ template "head.tmpl" }}
<div class="container mt-5">
<div class="row">
<div class="col-md-6">
  {{ template "shop.tmpl" }}
</div>
<div class="col-md-6">
 <div id="click" onlick="onClick()"></div>
</div>
</div>
</div>
