{{ define "shop.tmpl" }}
<form method="POST" action="/buy/cursor">
<input class="btn btn-dark p-5 w-50" type="submit" value="Cursor Satın al | 100">
</form>
<form method="POST" action="/buy/grandma">
<input class="btn btn-dark p-5 w-50" type="submit" value="Büyükanne Satın al | 1000">
</form>
<form method="POST" action="/buy/farm">
<input class="btn btn-dark p-5 w-50" type="submit" value="Çiftlik Satın al | 10000">
</form>
<form method="POST" action="/buy/factory">
<input class="btn btn-dark p-5 w-50" type="submit" value="Fabrika Satın al | 50000">
</form>
{{ end }}
